<section style="background-color: #d3d3d3 mar">
    <div class="container my-5 py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-6">
                <div class="card" style="border-radius: 2rem">
                    <div class="row g-0">
                        <!-- set col-lg-12 to view full lenght of input name gmail -->
                        <div class="col-md-6 col-lg-12 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <!-- style="margin-left: 30%;" to give left marginn to input boxes of form -->
                                <form style="margin: 0% 10% 0% 10%">
                                    <h5 class="fw-normal mb-3 pb-3 fs-1" style="letter-spacing: 1px">
                                        Scope & Pricing
                                    </h5>
                                    <div class="form-outline mb-4">
                                        <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                                        <label class="form-label" for="f">Discription</label>
                                    </div>


                                    <div class="form-outline mb-4">
                                        <select class="form-select" class="form-control form-control-lg">
                                            <option selected>select..</option>
                                            <option value="1">5days</option>
                                            <option value="2">3days</option>
                                        </select>
                                        <label class="form-label" for="f">Dilevery time</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="price" id="f" class="form-control form-control-lg" />
                                        <label class="form-label" for="f">Enter Price</label>
                                    </div>



                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="button">
                                            Next
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>