
<!-- Page Content-->
<div class="container  mx-auto   " style="margin-top: 100px;">

    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">Welcome atta ul mohamin Find important messages, tips, and links to helpful
                resources here:</p>
        </div>
    </div>

    <div class=" boxes_globall  ">
        <div class="card mx-1 ">
            <div class="numbers">1500 $</div>
            <div class="name">Available for withdrawl</div>
            <div class="iconbox"> <i class="bi bi-cash"></i></div>

        </div>
        <div class="card mx-1 ">
            <div class="numbers">40%</div>
            <div class="name">order completion rate</div>
            <div class="iconbox"> <i class="bi bi-shop"></i></div>

        </div>
        <div class="card mx-1 ">
            <div class="numbers">90%</div>
            <div class="name">positive rating</div>
            <div class="iconbox"> <i class="bi bi-star"></i></div>

        </div>
        <div class="card mx-1 ">
            <div class="numbers">100$</div>
            <div class="name">Aective orders</div>
            <div class="iconbox"> <i class="bi bi-cash"></i></div>

        </div>

    </div>

    <h3 class="mt-5">Upgrade your Ideas</h3><hr>
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5 ">
        <div class="col-lg-5 m "><img class="img-fluid rounded mb-4 mb-lg-0 img-fluid" src="assets\images\img1.jpg"
                alt="img1.jpg" /></div>
        <div class="col-lg-5 px-5">
            <h2 class="font-weight-light align-items-center ">"steps to become a top teacher on Mentor!"</h2>
            <p class="my-3">Get noticed,get more skills & exposure .</p>
            <p>Hone your skills and expand your knowledge with online courses. You’ll be able to offer more services and gain more exposure with every course completed.</p>
            
        </div>
    </div>


</div>