<!DOCTYPE html>
<html lang="en">
  <body>
    <section style="background-color: #ffffff">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem">
              <div class="row g-0">
                <table class="table table-hover">
                  <tbody>
                    <thead>
                      <tr>
                        <th colspan="2">
                          <h5 class="d-flex justify-content-between">
                            <span class="align-self-center">
                              <i class="bi bi-arrow-left me-4"></i>
                              Earnings
                            </span>
                            <a href="">
                              <span
                                class="align-self-center"
                                style="font-size: medium; color: rgb(7, 7, 8)"
                                >Withdraw</span
                              >
                            </a>
                          </h5>
                        </th>
                      </tr>
                    </thead>

                    <tr style="background-color: #f9f9f9">
                      <td>
                        <h3 class="text-center" style="color: rgb(0, 0, 0)">
                          10 RS
                        </h3>
                        <p class="withdraw-text text-center">
                          Available for withdrawal
                        </p>
                        <p
                          class="analytics-text text-start ms-3 mt-4"
                          style="font-size: large; font-weight: bold"
                        >
                          Analytics
                        </p>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <a href="#" class="ms-3"> Earnings in July </a>
                      </td>
                      <td style="font-weight: bold">0 RS</td>
                    </tr>

                    <tr>
                      <td>
                        <a href="#" class="ms-3"> Avg.Selling Price </a>
                      </td>
                      <td style="font-weight: bold">0 RS</td>
                    </tr>

                    <tr>
                      <td>
                        <a href="#" class="ms-3"> Active Orders </a>
                      </td>
                      <td style="font-weight: bold">0</td>
                    </tr>

                    <tr>
                      <td>
                        <a href="#" class="ms-3"> Available for withdrawl </a>
                      </td>
                      <td style="font-weight: bold">0 RS</td>
                    </tr>

                    <tr>
                      <td>
                        <a href="#" class="ms-3"> Complete Orders </a>
                      </td>
                      <td style="font-weight: bold">0</td>
                    </tr>

                    <!-- ------------------------------------------ -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
