<body>
  <section style="background-color: #ffffff;">
    <div class="container py-5 h-100" >
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-6">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-12">
                <h5 class="d-flex justify-content-between">
                  <span class="align-self-center">
                    <i class="bi bi-arrow-left ms-2 "></i>
                  </span>
                </h5>     
              </div>

              <div class="row justify-content-center">
                <div class="col-4 d-flex justify-content-center"> <!-- Add justify-content-center class to center the content -->
                  <img src="attapic.jpeg" alt="Circular Image" class="rounded-circle img-fluid" style="height:70px ; width:70px" >
                </div>
              </div>

              <div class="row g-0">
                <div class="col-12">
                  <h5 class=" justify-content-between">
                    <span class="align-self-center">
                      <br>
                      <p class="text-center">Mohamin786</p>
                      <p style="color:darkgray ; font-size:small;"class="text-center m">@attaulmohamin</p>
                    </span>
                  </h5>     
                </div>
              </div>


              <div class="row g-0  justify-content-between " >
                
                <div class="col-3">
                  <h6 > 
                    <br>
                  </h6>                 
                </div>
                <div class="col-3">
                  <a href="">
                    <h6  class="hover-blue"> 
                      <br>
                      About
                    </h6>
                  </a>                        
                </div>


                <div class="col-3">
                  <a href="">
                    <h6  class="hover-blue"> 
                      <br>
                      Gigs
                    </h6> 
                  </a>                            
                </div>



                <div class="col-3 ">
                  <a href="">
                    <h6  class="hover-blue"> 
                      <br>
                     Reviews
                     
                    </h6>
                  </a>                              
                </div>
              </div>

              <hr>

              <div class="row g-0">
                <div class="col-12">
                  <br>
                  <h5 class="ms-3">User Information</h5>
                  <p class="ms-3 me-3">In a world filled with hustle and bustle, finding moments of serenity can be like discovering hidden gems. Amidst the chaos of modern life, nature serves as a sanctuary that offers solace and tranquility to the weary soul. Whether it's the gentle rustling of leaves in a forest, the rhythmic lapping of waves on a sandy shore, or the vibrant colors of a breathtaking sunset, nature has a way of captivating our senses and drawing us into its embrace.
                    Stepping into nature is like stepping into a different realm, where time slows down, and worries fade away. The sound .</p>    
                  </div>
                  </div> 

                 
             

                  <div class="row g-0">
                    <div class="col-12">
                      <div class="d-flex align-items-center">
                        <i class="bi bi-geo-alt icon ms-3" ></i>
                        <div>
                          <p class="from-text ms-4">From</p>
                          <p class="location-text ms-4">Pakistan (12.30)</p>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="row g-0 mt-3">
                    <div class="col-12">
                      <div class="d-flex align-items-center">
                        <i class="bi bi-person icon ms-3"></i>
                        <div>
                          <p class="from-text ms-4">Member since</p>
                          <p class="location-text ms-3">March 2023</p>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="row g-0 mt-3">
                    <div class="col-12">
                      <div class="d-flex align-items-center">
                        <i class="bi bi-eye icon ms-3"></i>
                        <div>
                          <p class="from-text ms-4">Last active</p>
                          <p class="location-text ms-4">online</p>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="row g-0">
                    <div class="col-12">
                      <br>
                      <h5 class="ms-3">Languages</h5>
                  
                      </div>
                      </div> 


                      <div class="row g-0 mt-3">
                        <div class="col-12">
                          <div class="d-flex align-items-center">
                            <i class="bi bi-translate icon ms-3"></i>
                            <div>
                              <p class="from-text ms-4">English</p>
                              <p class="location-text ms-4">Conversational</p>
                            </div>
                          </div>
                        </div>
                      </div>



            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 
</body>
