<!DOCTYPE html>
<html lang="en">

<body>
    <section style="background-color: #ffffff">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem">
                        <div class="row g-0">
                            <table class="table table-hover">
                                <tbody>
                                    <thead>
                                        <tr>
                                            <th colspan="2">
                                                <h5 class="text-start">
                                                    <i class="bi bi-arrow-left me-4"></i>
                                                    Preferences
                                                </h5>
                                            </th>
                                        </tr>
                                    </thead>

                                    <tr class="clickable-row">
                                        <td>
                                            <a href="#" class="ms-3">Notifications</a>
                                        </td>
                                        <td>
                                            <a href="#"><i class="bi bi-chevron-right"></i></a>
                                        </td>
                                    </tr>

                                    <tr class="clickable-row">
                                        <td>
                                            <a href="#" class="ms-3">Security</a>
                                        </td>
                                        <td>
                                            <a href="#"><i class="bi bi-chevron-right"></i></a>
                                        </td>
                                    </tr>

                                    <tr class="clickable-row">
                                        <td>
                                            <a href="#" class="ms-3">Language</a>
                                        </td>
                                        <td>
                                            <a href="#"><i class="bi bi-chevron-right"></i></a>
                                        </td>
                                    </tr>

                                    <tr class="clickable-row">
                                        <td>
                                            <a href="#" class="ms-3">Currency</a>
                                        </td>
                                        <td>
                                            <a href="#"><i class="bi bi-chevron-right"></i></a>
                                        </td>
                                    </tr>

                                    <!-- ------------------------------------------ -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>