<body >
    <section style="background-color: #ffffff">
        <div class="container py-5 h-100 my-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-6">
                    <div class="card" style="border-radius: 1rem">
                        <div class="row g-0">
                            <table class="table table-hover">
                                <tbody>
                                    <thead>
                                        <tr>
                                            <th colspan="2">
                                                <h5 class="text-center">Setting</h5>
                                            </th>
                                        </tr>
                                    </thead>

                                    <tr>
                                       
                                        
                                    </tr>

                                    <tr>
                                        <td>
                                            <a  href="#" [routerLink]="['/']" class="sub-menu-linking">
                                                <i class="bi bi-person-circle"></i>
                                                <p>Profile setting</p>
                                                <span>></span>
                                            </a>
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a  href="#" [routerLink]="['/']" class="sub-menu-linking">
                                                <i class="bi bi-file-ruled"></i>
                                                <p>Manage Gigs</p>
                                                <span>></span>
                                            </a>
                                        </td>
                                        <td>
                                           
                                        </td>
                                       
                                    </tr>
                                    <tr>
                                        <td>
                                            <a  href="#" [routerLink]="['/account-setting']" class="sub-menu-linking">
                                                <i class=" bi bi-person-badge"></i>
                                                <p>Account setting</p>
                                                <span>></span>
                                            </a>
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>

                                
                                    <!-- ------------------------------------------ -->
                                    
                                    <tr>
                                        <td>
                                            <a  href="#" [routerLink]="['/prefrences']" class="sub-menu-linking">
                                                <i class=" bi bi-gear"></i>
                                                <p>Prefrences</p>
                                                <span>></span>
                                            </a>
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>

                                    
                                  

                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
</body>

