<section style="background-color: #32282a" (submit)="onsignup()">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-md-block">
              <img
                src="assets\images\img3.jpg"
                alt="login form"
                class="img-fluid"
                style="height: 100vh; border-radius: 1rem 0 0 1rem"
              />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form>
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3"></i>
                    <span class="h1 fw-bold mb-0">Logo</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
                    Signup into your account
                  </h5>
                  <div class="form-outline mb-4">
                    <input
                      type="name"
                      id="f"
                      class="form-control form-control-lg" #firstname
                    />
                    <label class="form-label" for="f">Enter Name</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="email"
                      id="f"
                      class="form-control form-control-lg" #email
                    />
                    <label class="form-label" for="f">Email address</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="password"
                      id="f"
                      class="form-control form-control-lg" #password
                    />
                    <label class="form-label" for="f">Password</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit" (click)="signup(firstname.value,email.value,password.value)">
                      Signup
                    </button>
                  </div>

                  
                  <p class="mb-5 pb-lg-2" style="color: #0d1785">
                    Already have an account?
                    <a  href="#" [routerLink]="['/signin']" style="color: #0d1785">Login</a>
                  </p>
                  <a href="#!" style="color: #2d37a3">Terms of use.</a>
                  <a href="#!" style="color: #2533c7">Privacy policy</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
