
table {
    width: 100%;
    border-collapse: collapse;
  }

  table tr {
    border-bottom: 1px solid #dee2e6;
  }

  table th, table td {
    padding: 10px;
  }

  table th:last-child, table td:last-child {
    text-align: right;
  }

  a {
    text-decoration: none;
    color: #000;
  }
  
  .from-text {
    font-size: 1rem;
    color: darkgray;
    margin: 0;
    
  }

  .location-text {
    font-size: 0.8rem;
   
    margin: 0;
  }

  .row1:hover {
  background-color: lightgray;
  cursor: pointer;
}


.ok{
margin-top: 8px;
}
