<section style="background-color: #d3d3d3">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-md-block">
                <img
                  src="assets\images\img4.jpg"
                  alt="contact form"
                  class="img-fluid"
                  style="height: 100vh; border-radius: 1rem 0 0 1rem"
                />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <form>
                    
  
                    <h5 class="fw-normal mb-3 pb-3 fs-1" style=" letter-spacing: 1px">
                      Contact Us
                    </h5>
                    <div class="form-outline mb-4">
                      <input
                        type="name"
                        id="f"
                        class="form-control form-control-lg"
                      />
                      <label class="form-label" for="f">Enter Name</label>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input
                        type="email"
                        id="f"
                        class="form-control form-control-lg"
                      />
                      <label class="form-label" for="f">Email address</label>
                    </div>
  
                    <div class="form-outline mb-4">
                      <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                      <label class="form-label" for="f">Message</label>
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="button">
                        Submit
                      </button>
                    </div>
  
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  